.wrap-content{
    margin-left: 90px !important;
    margin-right: 90px !important;
}
.product-img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
}
.products-wrap {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.products-wrap .product-item {
    border: 1px solid #ccc;
    margin: 15px;
    padding: 5px;
    text-align: center;
}

.sub-menu a {
    display: inline-block !important;
}